.App {
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 30px;
  border-radius: 10px;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}
